
#headerDiv{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
}

#datasetList {
    position: relative;
    left: 0px;
}
#tableView {
    position: relative;
    right: 0px;
}
#columnEdit {
    text-align: right;
}
h1 {
    text-align: center;
}